<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container" *ngIf="authenticated">
  <br />
  <h4 style="color: white">Vehicles List</h4>
  <br />
  <div class="row" id="ads">
    <!-- Category Card -->
    <div class="col-md-4">
      <div
        class="card rounded"
        *ngFor="let veh of vehicles; let i = index"
        [class.active]="i == currentIndex"
        (click)="setActiveVeh(veh, i)"
      >
        <div class="card-image">
          >
          <span class="card-notify-badge">{{ veh.CarName }}</span>
          <span class="card-notify-year">2018</span>
          <img
            class="img-fluid"
            src="https://imageonthefly.autodatadirect.com/images/?USER=eDealer&PW=edealer872&IMG=USC80HOC011A021001.jpg&width=440&height=262"
            alt="Alternate Text"
          />
        </div>
        <div class="card-image-overlay m-auto">
          <span class="card-detail-badge">Used</span>
          <span class="card-detail-badge">$28,000.00</span>
          <span class="card-detail-badge">13000 Kms</span>
        </div>
        <div class="card-body text-center">
          <div class="ad-title m-auto">
            <h5>Honda Accord LX</h5>
          </div>
          <a class="ad-btn" href="#">View</a>
        </div>
      </div>
    </div>

  </div>
</div>
