<app-nav></app-nav>
<main role="main">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img
          class="first-slide"
          src="https://images.pexels.com/photos/233194/pexels-photo-233194.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=1050&w=940"
          alt="First slide"
        />
        <div class="container">
          <div class="carousel-caption text-left">
            <h1>Welcome to Karhabti</h1>
            <p>
              Welcome to the first tunisian plateform that brings intelligence
              and innovation to you world, you can drive smarter safer and
              faster with Karhabti features.
            </p>
            <p>
              <a
                class="btn btn-lg btn-light"
                routerLink="/register"
                role="button"
                >Sign up today</a
              >
            </p>
            <p>
              <a class="btn btn-lg btn-light" routerLink="/login" role="button"
                >Login now</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <div class="container marketing">
    <!-- Three columns of text below the carousel -->
    <div class="row">
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/251342593_4647670705293157_8634272931443218270_n.jpg?_nc_cat=101&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=3Dqp5-gPV4UAX87483b&_nc_ht=scontent.ftun14-1.fna&oh=00_AT9CItDfrVfziKcT9aSNXX-9H0fkLy1mrTlgle5Purqpvg&oe=62798404"
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2>Founder</h2>
        <p>Ghassen Mechmech Iot Engineer from ESPRIT.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://scontent.ftun14-1.fna.fbcdn.net/v/t39.30808-6/264482527_1765134017018839_5922128488449486140_n.jpg?_nc_cat=103&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=Pc0grye1L28AX-qFE0M&_nc_ht=scontent.ftun14-1.fna&oh=00_AT_8Rzw7Hne_ZILrby-d2zSsWsT7IyH3BPc_rc1alvgKxQ&oe=627990B9"
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2>Co-Founder</h2>
        <p>Wael Matoussi Iot Engineer from ESPRIT.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
      <div class="col-lg-4">
        <img
          class="rounded-circle"
          src="https://scontent.ftun14-1.fna.fbcdn.net/v/t1.18169-9/18193931_1373474592675454_964768803210505596_n.jpg?_nc_cat=106&ccb=1-6&_nc_sid=09cbfe&_nc_ohc=uKsyVX0pipsAX9gtlEi&_nc_ht=scontent.ftun14-1.fna&oh=00_AT_rwZKePAwWIicuqkeAFZFHEFxBW_0mSAwhAtkjbolsew&oe=6298A388"
          alt="Generic placeholder image"
          width="140"
          height="140"
        />
        <h2>CEO</h2>
        <p>Riadh Laffi IoT expert from ESPRIT.</p>
        <p>
          <a class="btn btn-secondary" href="#" role="button"
            >View details &raquo;</a
          >
        </p>
      </div>
      <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->

    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          The distant car control
          <span class="text-muted">It'll blow your mind.</span>
        </h2>
        <p class="lead">
          Our solution gives you the opportunity to monitor your car wherever
          you are and whenever you want with simple and user friendly
          interfaces.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://s7g10.scene7.com/is/image/hyundaiautoever/app_3:Single%20Image%20Mobile?wid=706&hei=398"
          alt="Generic placeholder image"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">
          Oh yeah, it's that good.
          <span class="text-muted">See for yourself.</span>
        </h2>
        <p class="lead">
          Several more features are available on our plateform don't hesitate to
          discover what we are holding for you dear user.
        </p>
      </div>
      <div class="col-md-5 order-md-1">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://flex.com/-/media/Project/Flex/BrandSite/industries/automotive/l1/automotive_l1_markets_1.jpg"
          alt="Generic placeholder image"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">
          And lastly, this one. <span class="text-muted">Checkmate.</span>
        </h2>
        <p class="lead">
          With our drowsiness system detection you'll be fully assisted to take
          a break whenever we detect you need one this allows you to drive more
          safely because your security and safety matter to us.
        </p>
      </div>
      <div class="col-md-5">
        <img
          class="featurette-image img-fluid mx-auto"
          src="https://www.bosch-mobility-solutions.com/media/global/products-and-services/passenger-cars-and-light-commercial-vehicles/driver-assistance-systems/driver-drowsiness-detection/thumbnail_fahrermuedigkeitserkennung.jpg"
          alt="Generic placeholder image"
        />
      </div>
    </div>

    <hr class="featurette-divider" />

    <!-- /END THE FEATURETTES -->
  </div>
  <!-- /.container -->
</main>
<!-- Bootstrap core JavaScript
    ================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script
  src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
  crossorigin="anonymous"
></script>
